{
    "extends": ["gemini-testing", "plugin:@typescript-eslint/recommended"],
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "root": true,
    "parserOptions": {
        "ecmaVersion": 2022
    },
    "rules": {
        "@typescript-eslint/no-var-requires": "off",
        "@typescript-eslint/no-empty-function": "off",
        "@typescript-eslint/no-this-alias": "off",
        "@typescript-eslint/no-use-before-define": [
            "error",
            {
                "functions": false,
                "classes": false,
                "variables": true,
                "typedefs": false
            }
        ],
        "object-curly-spacing": ["error", "always"],
        "quotes": ["error", "double", { "avoidEscape": true }],
        "comma-dangle": ["error", "always-multiline"],
        "space-before-function-paren": [
            "error",
            {
                "anonymous": "always",
                "named": "never",
                "asyncArrow": "always"
            }
        ]
    }
}
