.DS_store
.DS_Store
build

.idea
.vscode
*.swo
*.swp
*.iml
*.tgz
.fuse*
.project
.testplane
node_modules
artifacts
npm-debug.log
.editorconfig
.eslintcache
hermione-report
bundle.compat.js
bundle.native.js
